@import '~antd/dist/antd.css';

.App {
  text-align: center;
  font-family: "Open Sans";
}

.header {
  font-size: 40px;
  font-weight: 900;
  background-color: #546e7a;
}

.divider {
  background-color: white;
  font-size: 30px !important;
  font-weight: bold !important;
}

.item {
  border-bottom: 1px solid #ccc;
  margin: 24px;
  font-size: 26px;
  font-weight: bold;
}

.input {
  padding: 10px 50px;
}

.actions-button {
  display: flex;
  justify-content: center;
  align-self: center;
}

.footer {
  background-color: #455a64;
  color: white;
  font-size: 20px;
  margin-top: 10%;
  bottom: 0;
  height: 100%;
}