@import '~antd/dist/antd.css';

.App {
  text-align: center;
  font-family: "Open Sans";
}

.header {
  font-size: 40px;
  font-weight: 900;
  background-color: white;
}

.divider {
  background-color: white;
  font-size: 30px !important;
  font-weight: bold !important;
}

.item {
  border: 1px solid #ccc;
  margin: 24px
}

.input {
  padding: 10px 50px;
}

.actions-button {
  display: flex;
  justify-content: center;
  align-self: center;
}